<div id="contentsection" class="row">
  <div class="col-md-5">
    <div>
      <h1 id="phonebookheading">My Phone Book</h1>
      <h3 id="columnheading">New Contact</h3>
      <form id="formbackground" [formGroup]="this.phonelistService.form" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="$key"><!-- this is a primary key for each record of the phonebook.-->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Fist Name:</label>
              <input formControlName="firstName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.firstName.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.firstName.errors">Field Required</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Last Name:</label>
              <input formControlName="lastName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.lastName.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.lastName.errors">Field Required</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Phone Number:</label>
          <input formControlName="phoneNumber" class="form-control" type="tel" placeholder="+43 123 4567 8912" [textMask]="{mask: mask}" [ngClass]="{'is-invalid':submitted && formControls.phoneNumber.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.phoneNumber.errors">Field Required</div>
        </div>
        <div class="form-group text-center">
          <input type="submit" class="btn btn-success" value="Add Contact">
        </div>
      </form>
      <div class="alert alert-info" *ngIf="showSuccessMessage">
        Submitted Successfully.
      </div>
      <div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted Successfully</div>
    </div>
  </div>
  <div class="col-md-5">
    <phonebook-list></phonebook-list>
  </div>
</div>
