<div class="data">
  <br>
  <form class="form-inline">
    <input name="searchInput" class="form-control" placeholder="Filter" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
    <button id="filterbutton" class="btn btn-outline-primary" (click)="searchText=''">Filter</button>
  </form>
  <h3>Contacts</h3>
  <br>
  <table id="contactsdata" class="table table-sm">
    <thead>
    </thead>
    <ng-container *ngFor="let phonebook of phonebookArray">
      <tr *ngIf="filterCondition(phonebook)">
        <td>{{phonebook.favourite}}</td>
        <td>{{phonebook.firstName}} {{phonebook.lastName}}</td>
        <td>{{phonebook.phoneNumber}}</td>
        <td>
          <button class="btn btn-success" (click)="phonelistService.populateForm(phonebook)"><i id="edit" class="fas fa-edit"></i></button>
          <button class="btn btn-danger" (click)="onDelete(phonebook.$key)"><i id="delete" class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
